---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>工程计算与仿真<br/>(Computation)</h2>
		<p>熟练运用 Python, MATLAB, C++ 进行数值分析、有限元分析与数据驱动建模，探索能源系统与过程优化的前沿。</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="camera" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>摄影与视觉表达<br/>(Photography)</h2>
		<p>穿梭于欧洲的街头巷尾，用镜头记录光影变化与人文景观。相信严谨的逻辑代码与感性的视觉艺术能碰撞出独特的火花。</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>极客创造力<br/>(Geek & Maker)</h2>
		<p>热爱折腾硬件与前沿科技。曾主导开发基于 Visual SLAM 的水循环洗车平台，致力于将天马行空的灵感落地为现实工程。</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>